<div id="nav">
	<ul class="no-list row center-xs">
		<% @categories.each do |category| %>
			<li class="col-md">
				<%= link_to category.name, category %>
			</li>
		<% end %>
		<li class="col-md">
			<%= link_to "Articulos", articles_path %>
		</li>
		<% if user_signed_in? %>
			<li class="col-md">
				<%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
			</li>
		<% else %>
			<li class="col-md">
				<%= link_to "Iniciar sesion", new_user_session_path %>
			</li>
			<li class="col-md">
				<%= link_to "Crear cuanta", new_user_registration_path %>
			</li>
		<% end %>
	</ul>
</div>